.box {
  height: 100vh;
  background-color: #c5cae9;
  margin: 2px;
}
.header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.forms {
  margin-left: 70px;
}

.button {
  width: 200px;
  height: 50px;
  font-size: 30px;
  border-style: none;
  background-color: inherit;
}

.button:hover {
  opacity: 0.8;
}

.img {
  width: 100px;
  height: 100px;
}

.mainImg {
  width: 550px;
  height: 400px;
}
